:root{
    --pink-color: rgb(250, 46, 80);
}

body{
    margin: 0px;
    padding: 0px;
}
.wrapper{
    padding: 5px 100px !important;
}
.logo {
    font-size: 30px;
    color:var(--pink-color);
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
nav{
    width: -webkit-fill-available;
    padding: 5px 100px !important;
    background-color: #fff;
    position: fixed;
}
 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

nav li a.active {
    display: block;
    color: var(--pink-color);
    padding: 12px 0px;
    text-decoration: none;
}
nav li a{
    display: block;
    color: black;
    padding: 12px 12px;
    text-decoration: none;
}
a{
    text-decoration: none;
}
/* Section 1 */
#home{

    background-image: url("./img2.png");
    background-position: center;
    background-size: cover;
    padding-left:100px ;
}
.home{
    width: 50%;
    height: 700px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.home2{
    background-image: url("./img.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.home>h4{
    font-size: 40px;
    margin: 0;
}
.home > p{
    color:rgb(110, 102, 102)
}
.home > span {
    margin-top: 20px;
}
.home2>h4{
    font-size: 40px;
    margin: 0;
}
.home2 > p{
    color:rgb(110, 102, 102)
}
.home2 > span {
    margin-top: 20px;
}
span > .btn {
    margin: 10px 20px 0px 0px;
    padding: 10px 30px;
    background-color: var(--pink-color);
    color: white;
    border-radius: 25px;
    text-decoration: none;
}
span > .btn:hover{
    margin: 10px 20px 0px 0px;
    padding: 10px 30px;
    border: 2px solid var(--pink-color);
    background-color:white ;
    color: var(--pink-color);
    border-radius: 25px;
    text-decoration: none;
}
span > .btn2 {
    margin: 10px 20px 0px 0px;
    padding: 10px 30px;
    border: 2px solid var(--pink-color);
    background-color:white ;
    color: var(--pink-color);
    border-radius: 25px;
    text-decoration: none;
}
span > .btn2:hover {
    margin: 10px 20px 0px 0px;
    padding: 10px 30px;
    background-color: var(--pink-color);
    color: white;
    border-radius: 25px;
    text-decoration: none;
}
/* Section 2 */
#services{
    padding-top: 80px;
}
.services {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 0;
    justify-content: space-between;
    flex-wrap: wrap;
}
.services >.section-a {
    width: 300px;
    height: 165px;
    background-color: white;
    box-shadow: 0 0 50px rgba(107, 19, 19, 0.1);
    text-align: center;
    margin-bottom: 20px;
    padding: 15px;
}
#services .our-service{
    font-size: 35px;
}
.services h4{
    font-size: 13px;
}
.wrapper > h4 {
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 35px;
    margin: 0;
}
.wrapper > hr{
    background: var(--pink-color);
    width: 5%;
    height: 2px;
    border: none;
}
#services > h4 {
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 35px;
    margin: 0;
}
#services > hr{
    background: var(--pink-color);
    width: 5%;
    height: 2px;
    border: none;
}
#services p{
    font-size:15px ;
}
.features{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 40px;
    margin-top: 50px;
}
.features p{
    font-size: 15px;
}
div >.section-b {
    width: 300px;
    height: 100px;
    background-color: white;
    box-shadow: 0 0 50px rgba(107, 19, 19, 0.1);
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 20px;
    padding: 15px;
}
div >.section-b-2 {
    width: 300px;
    height: 100px;
    background-color: white;
    box-shadow: 0 0 50px rgba(107, 19, 19, 0.1);
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 20px;
    padding: 15px;
}
.section-b >div > h4 {
    margin: 0;
}
.section-b-2 >div > h4 {
    margin: 0;
}
div.bgimg{
    background-image: url("./img3.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
   
}
#icon{
    color: var(--pink-color);
    border-radius: 50%;
    width: 40px;
    height: 30px;
    padding-top: 10px;
    background-color: white;
    border: 1px solid #ddd;
}
#icon2{
    color: var(--pink-color);
    border-radius: 50%;
    width: 40px;
    height: 30px;
    padding-top: 10px;
    background-color: white;
}
.fa-2x{
    font-size: 1.2em !important;
}
/* Section 3 */

#team{
    padding-top: 80px;
    background-color: #f9f9f9;
}
#team > h4 {
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 35px;
    margin: 0;
}
#team > hr{
    background: var(--pink-color);
    width: 5%;
    height: 2px;
    border: none;
}
.team{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
    margin-top: 50px;
}
div >.section-c{
    width: 95%;
    height: 164px;
    background-color: white;
    box-shadow: 0 0 50px rgba(107, 19, 19, 0.1);
    margin: 20px;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 2fr;
}
div.pic{
    background-image: url("./dammy.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
   
}
div.picture{
    background-image: url("shecode-assets/hafsah.png");
    background-position: center;
    background-size: 10em;
    background-repeat: no-repeat;
   
}
div.section-c > div > p {
    color: rgb(110, 102, 102);
}

/* Mobile responsiveness */
@media (max-width: 1024px) {
    .wrapper{
        padding: 5px 10px !important;
    }
    .logo {
        font-size: 20px;
    }
    nav{
        padding: 5px 5px !important;
        display: flex;
        flex-direction: column;
    }
    nav li {
        font-size: small;
    }
    nav li a{
        padding: 12px 7px;
    }
    a{
        text-decoration: none;
    }
    /* Section 1 */
    #home{
        padding-left:20px ;
        width: fit-content;
    }
    .home{
        width: 60%;
        height: 500px;
    }
    .home>h4{
        font-size: 20px;
    }
    .home span{
        display: flex;
        flex-direction: column;
    }
    span > .btn {
        margin: 10px 10px 0px 0px;
        padding: 5px 6px;
        font-size: small;
        
    }
    span > .btn:hover{
        margin: 10px 20px 0px 0px;
        padding: 5px 6px;
        font-size: small;
    }
    span > .btn2 {
        margin: 10px 20px 0px 0px;
        padding: 5px 6px;
        font-size: small;
    }
    span > .btn2:hover {
        margin: 10px 20px 0px 0px;
        padding: 5px 6px;
        font-size: small;
    }
    /* Section 2 */
    .services {
        justify-content: center;
    }
    #services .our-service{
        font-size: 25px;
    }
    .features{
        display: flex;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 40px;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 50px;
    }
    .wrapper > h4 {
        font-size: 25px;
        margin-top: 2em;
    }
    div.bgimg{
        background-image: url("./img3.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
       
    }
    /* Section 3 */
    .team{
        display: flex;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 40px;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;
    }
    #team > h4{
        font-size: 25px;
    }
    div >.section-c{
        width: auto;
        height: 164px;
        background-color: white;
        box-shadow: 0 0 50px rgba(107, 19, 19, 0.1);
        margin: 20px;
        display: grid;
        font-size: small;
        align-content: center;
        grid-template-columns: 1fr 2fr;
        padding: 10px;
    }
    div.pic{
        background-image: url("./dammy.jpg");
        background-position: center;
        background-size: cover;
        height: inherit;
        margin-top: 4px;
       
    }
    div.picture{
        background-image: url("shecode-assets/hafsah.png");
        background-position: center;
        background-size: 8em;
        background-repeat: no-repeat;
        margin: 8px;
    }
  }