:root{
    --pink-color: rgb(250, 46, 80);
    --grey-color:rgb(248, 241, 241);
    --white-color:white;
    --box-shadow:rgb(247, 245, 245);
    --box-2-shadow: rgb(236, 234, 234);
    --pricing-headings: rgb(61, 61, 61);
    --pricing-text:rgb(180, 175, 175);
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2, h3{
    font-family: 'Times New Roman', Times, serif ;
}
/* pricing section */

.pricing{
    display: flex;
    justify-content:center;
    align-items: center;
}
#pricing{
    background-color: var(--white-color);
    padding: 2em;
    padding-bottom: 4em;
}
#pricing h2{
text-align: center;
font-size: 2em;
}
.pricing img{
    width: 2.5em;
    background-color: var(--grey-color);
    border-radius: 50%;
    padding: 1.3em;
    margin-top: 1.5em;
}
.box{
width: 21em;
height: 25.5em;
background-color: var(--white-color);
text-align: center;
line-height: 1.3em;
margin: 1em;
border: none;
border-radius: .2em;
box-shadow: -1px 1px 10px 10px var(--box-shadow);
}
.box-2{
    box-shadow: -1px 1px 10px 10px var(--box-2-shadow);
}
.box-2 img{
background-color: var(--pink-color); 
}
span{
    color: var(--pink-color);
    font-weight: 550;
    font-size: 1.5em;
}
.month{
    font-size: 1em;
    color:var(--pricing-text);
}
.pro, .plus, .premium{
    font-weight: 800;
    color: var(--pricing-headings);
}
.pro-package, .plus-package, .premium-package{
    color: var(--pricing-text);
    font-size: .9em;
    line-height:1.9em ;

}
.pricing button{
    background-color: var(--pink-color);
    color: white;
    border: none;
    padding: .6em;
    border-radius: 1.5em;
    padding: 1em;
    width: 8em;
    margin: .9em;
}

/* Testimonial section */

#testimonial{
    background-color: var(--pink-color);
    padding: 5em;
}
.testimonial-container{
    display: flex;
    justify-content:center;
    align-items: center;
}
.first-person, .second-person, .third-person{
    background-color: var(--white-color);
    width: 21.4em;
    height: 23em;
    margin: .5em;
    margin-top: -2em;
    text-align: center;
    border-radius: .3em;
}
.testimonial-container img{
    position: absolute;
    border-radius: 50%;
    margin-top: 3em;
    margin-left: -2em;
}
.testimonial-container p{
    color: var(--pricing-headings) ;
    font-size: .9em;
    line-height: 1.5em;
}
.testimonial-container h2{
    font-size: 1.1em;
    color: var(--pricing-headings);
}
.testimonial-container h3{
    font-size: .9em;
    color: var(--pricing-headings);
}
.first-person div, .second-person div, .third-person div{
    margin-top: 10em;
    line-height: 1em;
}
.dot-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    left: 20em;
    margin-top: -7.5em;
    padding: 3em;
}
.dots{
    display: inline-block;
    background-color: var(--white-color);
    border-radius: 50%;
    width: .75em;
    height: .75em;
    margin: .2em;
}
.dots1{
background-color: var(--pink-color);
border: 2px solid white;
width: .53em;
height: .53em;
}
.trial{
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: .2em;
    margin-top: 1em;
}
.trial h1{
    font-size: 2.5em;
    color: var(--pricing-headings);
}
.trial p{
line-height: 1.5em;
font-size: .9em;
color: var(--pricing-text)
}
.trial button{
    background-color: var(--pink-color);
    color: white;
    border: none;
    border-radius: 1.5em;
    height: 3em;
    width: 11em;
    margin-top: 1.7em;
}

/* contact section */

#contact{
    background-color: rgb(250, 246, 246);
    padding: 1.5em;
}
#contact h2{
    text-align: center;
    font-size: 2em;
    color: var(--pricing-headings);
}
.contact{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
.email, .name, .subject{
width: 21em;
height: 2.5em;
margin: .6em;
border: 1px solid rgb(240, 238, 238);;
border-radius: .2em;
padding: .3em;
font-size: .9em;
}
.subject{
    width: 44em;
}
.textarea{
    width: 40.5em;
    height: 9em;
    padding: .4em;
    margin: .6em;
    font-size: 1.2em;
    border: 1px solid rgb(240, 238, 238);
    border-radius: .2em;
}
.map img{
width: 27em;
height: 17em;
margin-top: .6em;
margin-left: 1em;
border: 1px solid rgb(240, 238, 238);
}
.submit{
    background-color: var(--pink-color);
    color: white;
    border: none;
    border-radius: 1.5em;
    height: 3.1em;
    width: 12em;
    margin-top: 1em;
    margin-left: .8em;
}
#endofpage{
    padding-bottom: 3em;
}
.endofpage{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#endofpage a img {
    width: 1em;
    height: 1em;
}
#endofpage .fusion{
    margin-left: 3.5em;
    margin-top: 5em;
}
#endofpage .fusion a{
    margin: .8em;
}
#fusion{
    width: 12em;
    height: 2.5em;
}
#endofpage .contact{
    width: 1.7em;
    height: 1.7em;
    display: inline-block;
    margin-right: .5em;
}
#endofpage ul{
    margin-left: -3.2em;
}
#endofpage li{
    list-style-type: none;
    margin: .9em;
}
#endofpage h3{
    color: var(--pricing-headings);
    font-size: 1.3em ;
}
#endofpage p, #endofpage li{
    font-size: .91em;
    line-height: 1.6em;
    color: rgb(92, 90, 90);
}
#endofpage div{
    margin-top: 3em;
    margin-left: 7em;
}
#endofpage .contact-address h3{
    margin-top: -1em ;
}
#endofpage .contact-address a{
    font-size: .9em;
    color: rgb(92, 90, 90);
    text-decoration: none;
}
footer{
    padding: 1em;
    font-size: .9em;
    color: rgb(92, 90, 90);
    text-align: center;
}
.top-border{
    background-color:rgb(214, 212, 212);
    width: 80%;
    height: .1em;
    margin: auto;
}
.pricing-under{
    background-color:var(--pink-color);
    width: 4%;
    height: 1.7px;
    margin: -1.4em auto 2em auto;
}
.contact-under{
    background-color:var(--pink-color);
    width: 5%;
    height: 1.7px;
    margin: -1.4em auto 2em auto;
}
footer a{
    text-decoration: none;
    color: var(--pink-color);
}
/* media queries */
@media screen and (max-width: 1024px){
    .pricing{
        flex-direction: column;
    }
    .box{
        width: 18em;
        height: 23.5em;
        line-height: .8em;
    }
    #pricing h2{
        font-size: 25px;
        margin-bottom: 1em;
    }
    .pricing img{
        width: 2em;
        background-color: var(--grey-color);
        border-radius: 50%;
        padding: 1em;
        margin-top: 1.5em;
    }
    .pricing span{
        font-size: 1.2em;
    }
    .pricing button{
        width: 7em;
        padding: .7em;
    }
    .testimonial-container{
        flex-direction: column;
    }
    .first-person, .second-person, .third-person{
        margin-top: 2em;
        width: 16em;
        height: 20em;
        padding: 1em;
    }
    .trial{
        flex-direction: column;
        margin: 1.5em;
    }
    .trial h1{
        font-size: 1.6em;
    }
    #contact h2{
        font-size: 25px;
        margin-bottom: 1em;
    }
    .email, .name, .subject{
        width: 20em;
        margin: .6em 14em;
    }
    .textarea{
        width: 20em;
        margin: .6em 12em;
    }
    .submit{
        margin-left: 22em;
    }
    .map img{
        width:22em ;
        margin: 2em;
    }
    .endofpage{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

/* hover effect for the icons */
.pricing img:hover{
    background-color: var(--pink-color); 
}
button:hover{
    font-weight: bold;
    cursor: pointer;
    background-color: white; transition: .4s;
    border: 1px dashed var(--pink-color);
    color: var(--pink-color);
}
.submit:hover{
    font-weight: bold;
    cursor: pointer;
    background-color: white; transition: .4s;
    border: 1px dashed var(--pink-color);
    color: var(--pink-color);
}
.map:hover{
    cursor: pointer;
}
a:hover{
    color: var(--pink-color);
}
.socialfb:hover{
background-color: var(--pink-color);
padding: .8em;
}